<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.settings.mapper.SysBackwaterMapper">
    
    <resultMap type="SysBackwater" id="SysBackwaterResult">
        <result property="id"    column="id"    />
        <result property="feeType"    column="fee_type"    />
        <result property="rate"    column="rate"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysBackwaterVo">
        select id, fee_type, rate, create_by, create_time, update_by, update_time, remark from sys_backwater
    </sql>

    <select id="selectSysBackwaterList" parameterType="SysBackwater" resultMap="SysBackwaterResult">
        <include refid="selectSysBackwaterVo"/>
        <where>  
            <if test="feeType != null  and feeType != ''"> and fee_type = #{feeType}</if>
            <if test="rate != null "> and rate = #{rate}</if>
        </where>
    </select>
    
    <select id="selectSysBackwaterById" parameterType="Long" resultMap="SysBackwaterResult">
        <include refid="selectSysBackwaterVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysBackwater" parameterType="SysBackwater" useGeneratedKeys="true" keyProperty="id">
        insert into sys_backwater
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feeType != null and feeType != ''">fee_type,</if>
            <if test="rate != null">rate,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feeType != null and feeType != ''">#{feeType},</if>
            <if test="rate != null">#{rate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysBackwater" parameterType="SysBackwater">
        update sys_backwater
        <trim prefix="SET" suffixOverrides=",">
            <if test="feeType != null and feeType != ''">fee_type = #{feeType},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysBackwaterById" parameterType="Long">
        delete from sys_backwater where id = #{id}
    </delete>

    <delete id="deleteSysBackwaterByIds" parameterType="String">
        delete from sys_backwater where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--检测该返水类型是否唯一-->
    <select id="checkFeeTypeBackwaterUnique" parameterType="SysBackwater" resultMap="SysBackwaterResult">
        <include refid="selectSysBackwaterVo"/>
        <where>
            <if test="feeType != null  and feeType != ''"> and fee_type = #{feeType}</if>
        </where>
    </select>
</mapper>