<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.settings.mapper.SysServiceChargeMapper">
    
    <resultMap type="com.ruoyi.settings.domain.SysServiceCharge" id="SysServiceChargeResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="feeType"    column="fee_type"    />
        <result property="rate"    column="rate"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysServiceChargeVo">
        select id, user_id, user_name, fee_type, rate, create_by, create_time, update_by, update_time, remark from sys_service_charge
    </sql>

    <select id="selectSysServiceChargeList" parameterType="com.ruoyi.settings.domain.SysServiceCharge" resultMap="SysServiceChargeResult">
        <include refid="selectSysServiceChargeVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="feeType != null  and feeType != ''"> and fee_type = #{feeType}</if>
            <if test="rate != null "> and rate = #{rate}</if>
        </where>
    </select>
    
    <select id="selectSysServiceChargeById" parameterType="Long" resultMap="SysServiceChargeResult">
        <include refid="selectSysServiceChargeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysServiceCharge" parameterType="com.ruoyi.settings.domain.SysServiceCharge" useGeneratedKeys="true" keyProperty="id">
        insert into sys_service_charge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="feeType != null and feeType != ''">fee_type,</if>
            <if test="rate != null">rate,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="feeType != null and feeType != ''">#{feeType},</if>
            <if test="rate != null">#{rate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysServiceCharge" parameterType="com.ruoyi.settings.domain.SysServiceCharge">
        update sys_service_charge
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="feeType != null and feeType != ''">fee_type = #{feeType},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysServiceChargeById" parameterType="Long">
        delete from sys_service_charge where id = #{id}
    </delete>

    <delete id="deleteSysServiceChargeByIds" parameterType="String">
        delete from sys_service_charge where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--检测该商户该类型是否唯一-->
    <select id="checkFeeTypeToMerchantUnique" parameterType="SysServiceCharge" resultMap="SysServiceChargeResult">
        <include refid="selectSysServiceChargeVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="feeType != null  and feeType != ''"> and fee_type = #{feeType}</if>
        </where>
    </select>

    <!--查询手续费设置-->
    <select id="getSysServiceCharge" parameterType="SysServiceCharge" resultMap="SysServiceChargeResult">
        <include refid="selectSysServiceChargeVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="feeType != null  and feeType != ''"> and fee_type = #{feeType}</if>
        </where>
    </select>
</mapper>