<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.payment.mapper.ProcedureFeeMapper">
    
    <resultMap type="ProcedureFee" id="ProcedureFeeResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="parentName"    column="parent_name"    />
        <result property="rate"    column="rate"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectProcedureFeeVo">
        select id, user_id, user_name, parent_id, parent_name, rate, create_by, create_time, update_by, update_time, remark from sys_procedure_fee
    </sql>

    <select id="selectProcedureFeeList" parameterType="ProcedureFee" resultMap="ProcedureFeeResult">
        <include refid="selectProcedureFeeVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="parentName != null  and parentName != ''"> and parent_name like concat('%', #{parentName}, '%')</if>
            <if test="rate != null "> and rate = #{rate}</if>
        </where>
    </select>
    
    <select id="selectProcedureFeeById" parameterType="Long" resultMap="ProcedureFeeResult">
        <include refid="selectProcedureFeeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProcedureFee" parameterType="ProcedureFee" useGeneratedKeys="true" keyProperty="id">
        insert into sys_procedure_fee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="parentName != null">parent_name,</if>
            <if test="rate != null">rate,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="parentName != null">#{parentName},</if>
            <if test="rate != null">#{rate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateProcedureFee" parameterType="ProcedureFee">
        update sys_procedure_fee
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="parentName != null">parent_name = #{parentName},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProcedureFeeById" parameterType="Long">
        delete from sys_procedure_fee where id = #{id}
    </delete>

    <delete id="deleteProcedureFeeByIds" parameterType="String">
        delete from sys_procedure_fee where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--检测该代付商户手续费是否唯一-->
    <select id="checkFeeUnique" parameterType="ProcedureFee" resultMap="ProcedureFeeResult">
        <include refid="selectProcedureFeeVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>

    <!--查询手续费设置-->
    <select id="getProcedureFee" parameterType="ProcedureFee" resultMap="ProcedureFeeResult">
        <include refid="selectProcedureFeeVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
</mapper>